@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root { /* START COPYING HERE */
    --pink: #EE9CA7;
    --color2: #f9004fd3;
    --color3: #800000;
    --fulvous: #D78521;
    --eggshell: #E0E0CE;
    --cardinal: #AD343E;
    --night: #12130F;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
p {
    color: var(--cardinal);
}
h1,
h2.skill-title {
    color: var(--color2);
}
body {
    background: linear-gradient(43deg, #ffcc70 0%, #f9004f 70%, #ad343e 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.dashboard {
    width: 90%;
    min-height: 95vh;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .5);
    z-index: 3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, .2);
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img-box {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--color2);
}
.si-img-box {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}
.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.sidebar-item:hover .si-name {
    color: var(--color2);
}
.si-name {
    color: var(--cardinal);
    font-weight: 500;
}
.active {
    color: var(--color2);
}
.pro-img-box {
    cursor: default;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.pro {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 35%;
    display: flex;
    align-items: center;
    background-color: var(--color2);
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.pro:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pro-text {
    cursor: default;
}

/* main */
.main {
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: max-content;
}
.details {
    justify-content: center;
    align-items: center;
    display: block;
    width: 75%;
    margin-bottom: 5%;
}
.details input,select {
    width: 50%;
    margin: 15px;
}

.main input,select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    height: 45px;
    border-style: none;
    background-color: #fefefe;
}



/* circles */
.circle-1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    border-radius: 50%;
    top: 1%;
    right: 7%;
}
.circle-2 {
    height: 300px;
    width: 300px;
    background-color: #d3dfdb;
    position: absolute;
    border-radius: 50%;
    bottom: -5%;
    left: 5%;
}
.circle-3 {
    height: 100px;
    width: 100px;
    background-color: #35d19d;
    position: absolute;
    border-radius: 50%;
    bottom: 65%;
    left: 40%;
}


/* add ni janloi */
/* main */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items in the center vertically */
    height: max-content;
}
select{
    margin: 10px;;
}


